<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="" class=" text-lg font-bold text-6xl"><span class="text-green-500">FINAN$YS </span> <span class="text-yellow-500">CONTROL</span></a>
    <div class="space-x-4  text-2xl"  >
      <a routerLink="/reports" class="text-gray-300 hover:text-white">Relatórios</a>
      <a routerLink="/entries" class="text-gray-300 hover:text-white" >Lançamentos</a>
      <a routerLink="/categories" class="text-gray-300 hover:text-white">Categorias</a>
    </div>
  </div>
</nav>
